{% extends 'base.html' %}

{% block content %}
  <div class="row">
    {% for column in image_urls|batch(image_urls|length // 4) %}
      <div class="column">
        {% for image_url in column %}
          <img src="{{ image_url }}"
               style="width:100%"
               onclick="openModal(this)"
               alt="cat-image"
          >
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="img01" alt="cat-image">
  </div>
{% endblock %}
